*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styleing main header */
.main-header{
    width: 100%;
    padding: 15px 50px 15px 50px;
    background-color: #45A29E;
}
.main-header h1{
    color: white;
    font-family: "RooneySans-Medium", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;

}
/* ende main header */

/* *************************************** */

/* styleing login form*/
.login{
    margin: 30vh auto;
    padding: 15px;
    width: 340px;
    display: flex;
    flex-direction: column;
    border:1px solid #ddd;
    border-radius: 10px;
    box-shadow: #ddd 0px 0px 0px,
                #ddd 0px 5px 5px,
                #ddd 0px 10px 10px;
}
.login *{
    padding: 8px;
    margin-bottom:6px ;
}
.login h2{
    text-align: center;
    background-color: #45A29E;
}
.login label{
    font-size: medium;
    font-weight: bold;
}
.login input,button{
    border: 1.2px solid rgb(63, 60, 60);
    border-radius: 7px;
}
/* end login form*/

/* *************************************** */

/* styleing main  */

.main{
    display: none;
    flex-direction: column;
    padding: 15px;
    margin: 50px auto;
    border:1px solid #ddd;
    border-radius: 10px;
    box-shadow: #ddd 0px 0px 0px,
                #ddd 0px 5px 5px,
                #ddd 0px 10px 10px;
}
@media (max-width:768px){
    .main{
        width: 100%;
        
    }
}
@media (min-width:767px){
    .main{
        width: 667px;
    }
}
@media (min-width:991px){
    .main{
        width: 861px;
    }
}
@media (min-width:1200px ){
    .main{
        width:800px;
    }
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 40px;
}
.form *{
    border: 1px solid #ddd;
}
.form textarea{
    padding: 10px;
    border-radius: 15px;
}
.form input{
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.form button{
    width: 80px;
    position: absolute;
    right: 40px;
    bottom: -30px;
    padding: 7px;
    
    
}
.form label{
    visibility: hidden;
}
.newsfeed{
    margin: 70px 40px 0px 40px;
    border: 1px solid #ddd;
    border-radius:20px ;
    padding: 15px
}

/* ende main  */


/* *************************************** */


/* styleing tweet continer */
.tweet-continer{
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 10px;
    margin-top:10px ;
}
.user-continer{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid #ddd;
}
.user-img{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;

}
.user-name-continer{
<<<<<<< HEAD
    flex: 500px 2 2;
=======
    width:  80%;
>>>>>>> 12f455f58beacb30ac1822e1ab98e91e0fb23b81
    margin-left: 20px;
    line-height: 1.5em;
}

.tweet-date{
    flex-grow: 1;
    margin-left: 50px;
    font-size: smaller;
    font-weight: bold;
}

.tweet{
    margin-left: 50px;
    font-size: large;
    padding: 20px;
}
.button-continer{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:1px solid #ddd;
}
.button-continer button{
    padding: 10px;
}
/* end tweet continer */


/* *************************************** */

/* styleing grneral */
.active-like{
    /* background-color: red; */
    color: rgb(190, 29, 29);
}
/* ende grneral */

/* *************************************** */
